<main>
  <section id="loginContainer">
    <form action="" method="post" class="elegant-aero">
      <h1>Sign In!</h1>
      <label>
        <input id="name" type="email" ng-model="loginEmail" placeholder="Email Address" />
      </label>

      <label>
        <input id="email" type="password" ng-model="loginPassword" placeholder="Password" />
      </label>
      <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="Submit" ng-click="login();"/>
      </label>
    </form>
  </section>
</main>
