<main id="videoSheetContainer">
  <iframe id="video" ng-src="{{view.trustSrc}}" frameborder="0" allowfullscreen></iframe>
  <div id="sheet">
    <section id="uploadImageContainer" ng-show="loggedIn && !showImg">
      <form ng-submit="uploadImage();">
        <section id="imageInput">
          <label>Imgur URL</label>
          <input ng-model="imageUrl" type="text">
        </section>
        <button>Upload Imgur image</button>
      </form>
    </section>
    <img src="{{view.imgUrl}}" id="sheetImg">
  </div>
</main>
<section>
  <div id="contents">
    <h1>{{view.title}}</h1>
    <p>{{view.description}}</p>

  </div>
  <div id="disqus_thread"></div>
</section>
