<main>
  <section>
    <h1>SignIn</h1>
    <form ng-submit="login()">
      <label for="">Email</label>
      <input ng-model="loginEmail" type="email">
      <label for="">Password</label>
      <input ng-model="loginPassword" type="password">
      <input type="submit">
    </form>
  </section>
  <section>
    <h1>SignUp</h1>
    <form ng-submit="signup()">
      <label for="">Email</label>
      <input ng-model="signupEmail" type="email">
      <label for="">Password</label>
      <input ng-model="signupPassword" type="password">
      <!-- <label for="">Confirm Password</label>
      <input type="password"> -->
      <input type="submit">
    </form>
    <button ng-click="test()">TEST</button>
  </section>
  <section>

  </section>
</main>
