<main>
  <section>
    <h1>SignIn</h1>
    <form class="" action="index.html" method="post">
      <label for="">Email</label>
      <input type="email">
      <label for="">Password</label>
      <input type="password">
    </form>
  </section>
  <section>
    <h1>SignUp</h1>
    <form action="index.html" method="post">
      <label for="">Email</label>
      <input class="email" type="email">
      <label for="">Password</label>
      <input class="password" type="password">
      <!-- <label for="">Confirm Password</label>
      <input type="password"> -->
    </form>
  </section>
  <section>

  </section>
</main>
