#videoListContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #67AAF9;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
}

.video {
  width: 100%;
  height: 30%;
  background-color: #9BBDF9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.videoListContent {
  width: 33%;
}
.listImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.listImg img {
  width: 20%;
}
